*.pyc
__pycache__/
rsenv
roopsangamnx_backend/authentication/migrations/*
roopsangamnx_backend/inventory/migrations/*
roopsangamnx_backend/billing/migrations/*
roopsangamnx_backend/db.sqlite3

roopsangamnx_backend/__pycache__/
gallery/
roopsangamnx_backend/__pycache__/
rsenv
.env
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
