*.pyc
__pycache__/
rsenv
roopsangam)backend/billing/migrations/
roopsangamnx_backend/billing/
roopsangamnx_backend/inventory/
roopsangamnx_backend/payment_gateway/
roopsangamnx_backend/__pycache__/
roopsangamnx_backend/roopsangamnx_backend/__pycache__
roopsangamnx_backend/staticfiles/
*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/
